@import "../reveal.js/dist/reset.css";
@import "../reveal.js/dist/reveal.css";
@import "../plugins/chalkboard/font-awesome.min.css";

.ce_link {
	font-size: 60%;
	position: absolute !important;
	right: 0.5em;
	bottom: 0;
}

.title-bg {
	background-color: white;
	display: inline-block;
	padding: 0 4em;
	opacity: 80%;
	border-radius: 4px;
}
.reveal .title-bg h1,
.reveal .title-bg h2,
.reveal .title-bg h3,
.reveal .title-bg h4,
.reveal .title-bg h5,
.reveal .title-bg h6 {
	color: black;
}

